:root {
  --bg-color : #02002f;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,p {
  margin: 0;
  padding: 0;
}

.first {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./img/wallpaperflare.com_wallpaper\ \(7\).jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 0;
  gap: 0;
  padding: 0;

  & h1 {
    font-size: 6rem;
  }

  & h3 {
    font-size: 2rem;
  }

  &  button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    background: transparent;
    border: 3px solid rgb(143, 2, 112);
  }
}

.first button:hover {
  background: rgb(143, 2, 112);
  color: white;
  transition: 0.5s;
  box-shadow: 0px 0px 30px aqua;
}

.second {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./img/sakura-1920x1080-4k-hd-wallpaper-cherry-blossom-pink-spring-flowers-10302.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 0;
  gap: 4rem;
  padding: 0;

  & h3 {
    font-size: 2rem;
    color: #fff;
  }

  & h1 {
    font-size: 3rem;
    color: #fff;
  }
}

.next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    background: rgb(44, 44, 44);
    color: #585858;
}

.second::before {
  top: 100vh;
  content: "";
  position: absolute;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(180deg, rgba(2,0,47,1) 0%, rgba(0,0,0,0) 100%, rgba(0,212,255,1) 100%);
  z-index: 1;
}

.image-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  border-radius: 2rem;

  & img {
    width: 6.25%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 1s;
    opacity: .8;
  }
}

.image-slide img:hover {
  width: 100%;
  filter: grayscale(0%);
  opacity: 1;

}

.third {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 4rem;
  background: url('./img/873804.png');
}

button.random {
  padding: 10px 20px;
  background-color: #be0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  transition: all 0.3s ease;
}

button#yes {
  padding: 10px 20px;
  background-color: #009e00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.nailong {
  position: absolute;
  top: 300vh;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.fourth {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background: url('./img/—Pngtree—brown\ wooden\ plank\ texture\ wall_1156743.png');
  margin: 0;
  gap: 4rem;

  & h1 {
    font-size: 3rem;
    color: #fff;
    opacity: 0;
  }
}

.fourth-box {
  width: 22rem;
  height: 30rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 0px 100px #000;
  z-index: 2;
  & img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}

.fourth-box-a {
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 0px 100px #000;
  position: absolute;
  display: none;
  z-index: 1;


  & img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}

.fourthButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.pesan {
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url('./img/sakura-1920x1080-4k-hd-wallpaper-cherry-blossom-pink-spring-flowers-10302.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.phone {
  width: 25rem;
  height: 50rem;
  background: #fff;
  border-radius: 4rem;
  border: 10px solid #0a0808;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone::after {
  content: '';
  width: 25rem;
  height: 50rem;
  background: transparent;
  border-radius: 4rem;
  border: 10px solid #0a0808;
  position: absolute;
  z-index: 5;
}

.phone-camera {
  width: 12rem;
  height: 2rem;
  background: #000;
  border-radius: 0 0 1rem 1rem;
  position: absolute;
  top: 409vh;
  z-index: 10;
}

.ui-wa {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  background: #121b22;
  border-radius: 3.2rem;
}

.top {
  width: 100%;
  height: 6rem;
  border-radius: 2rem 2rem 0 0;
  background: #1f2c34;
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: row;
  color: #fff;
}

.top-content {
  gap: .1rem;
  padding: .5rem 0;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  color: #fff;

  & i {
    font-size: 2.2rem;
    font-weight: 100;
  }

  & h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: .5rem;
  }

}

.circle-wa {
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 50%;
}

.chat-wa {
  width: 100%;
  height: 40rem;
  gap: 0;
}

.right-bubble {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  color: #fff;
  padding: 1rem;
  gap: 1rem;
  text-align: start;
  opacity: 0;
  & p {
    max-width: 80%;
    font-weight: 200;
    background: #1e5f49;
    padding: .5rem;
    border-radius: 1rem 1rem 0 1rem;
  } 
}

.left-bubble {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  color: #fff;
  padding: 1rem;
  gap: 1rem;
  text-align: start;
  opacity: 0;

  & p {
    max-width: 80%;
    font-weight: 200;
    background: #414141;
    padding: .5rem;
    border-radius: 1rem 1rem 1rem 0;
  } 
}

.left-bubble.show, .right-bubble.show {
  opacity: 1;
}

.bottom {
  position: absolute;
  top: 483vh;
  width: 25rem;
  height: 3.5rem;
  border-radius: 0 0 2rem 2rem;
  background: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  color: #fff;
}

.input-wa {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;

  & input {
    margin-left: 1rem;
    width: 100%;
    height: 80%;
    background: #1f2c34;
    border-radius: .7rem;
    border: none;
    outline: none;
    color: #fff;
  }
}

.send-wa {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  & i {
    font-size: 1.5rem;
  }
}